<section class="vh-100" style="background-color: #9de2ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">Personal Details</h5>
                <div class="pt-5">
                  <table class="table table-borderless pt-5" >
                    <thead>
                      
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="col">Name</th>
                        <td scope="col">{{user.name}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">Email.id</th>
                        <td scope="col">{{user.email}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">Gender</th>
                        <td scope="col">{{user.gender}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">Address</th>
                        <td scope="col">{{user.address}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="col">Contact</th>
                        <td scope="col">{{user.phoneNumber}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
